*~
*.log
.DS_Store
.env
dist
projects.json
stow-work/*
!stow-work/.gitkeep
stow/git/.gitconfig.work
stow/fish/.config/fish/fish_variables
stow/zed/.config/zed/settings.json
stow/streamrip/Library/Application Support/streamrip/config.toml
batch-rip-work
stow/devonthink/.local/share/devonthink-capture/node_modules
stow/devonthink/.local/share/devonthink-capture/package-lock.json
