[user]
  name = Alec Custer
  email = alcuster@icloud.com
  signingkey = ~/.ssh/id_signing.pub
[core]
  excludesfile = ~/.gitignore
  editor = nano
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  hyperlinks = true
[merge]
  conflictstyle = zdiff3
[apply]
  whitespace = nowarn
[help]
  autocorrect = prompt
[pull]
  ff = only
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[gpg]
  format = ssh
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[include]
  path = ~/.gitconfig.proxy
[includeIf "gitdir:~/Work/"]
  path = ~/.gitconfig.work
