<div class="layout layout--col layout--top">
  <div class="w--full">
    {% if meetings and meetings != empty %}
    {% for m in meetings limit: 2 %}
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="title title--small" data-clamp="1">{{ m.title }}</span>
        <span class="label label--small">{{ m.time }}</span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="title title--small">Clear calendar</span>
        <span class="label label--small label--gray">No people-facing meetings</span>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke" src="data:image/svg+xml;base64,{{ svg_logo | base64_encode }}">
  <span class="title">Daily Brief</span>
  <span class="instance">{{ date | date: "%b %-d" }}</span>
</div>
